*.class
.settings
.classpath
.project
.idea/*
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

mvnw*

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Geode-created logs
*.dat
*.log
